body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
  }
  
  /* 헤더 스타일링 */
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  
  /* 메인 컨테이너 스타일링 */
  main {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* 상품 이미지 스타일링 */
  .product-image {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .product-image img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  }
  
  /* 데스크톱 화면 스타일 */
.product-image img {
    max-width: 100%;
    height: auto;
  }
  
  /* 모바일 화면 스타일 */
  @media (max-width: 767px) {
    .product-image img {
      max-width: 100%;
      height: auto;
    }
  }
  
  /* 상품 설명 스타일링 */
  .product-description {
    margin-bottom: 20px;
  }
  
  /* 상품 스펙 스타일링 */
  .product-specs {
    margin-bottom: 20px;
  }
  
  .product-specs h2 {
    font-size: 1.5rem;
    color: #333;
  }
  
  .product-specs ul {
    list-style: none;
    padding: 0;
  }
  
  .product-specs li {
    margin-bottom: 5px;
  }
  
  /* 푸터 스타일링 */
  footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
  }